In [59]:
import pandas as pd
import numpy as np

In [60]:
df = pd.DataFrame(pd.read_csv('/content/train (1).csv'))
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [61]:
df.shape

(891, 12)

In [62]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [63]:
x = df.isnull().sum()
drop_col =  x[x>(35/100 * df.shape[0])]
drop_col

Cabin    687
dtype: int64

In [64]:
drop_col.index

Index(['Cabin'], dtype='object')

In [65]:
df.drop(drop_col.index, axis=1, inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [66]:
df.fillna(df.mean(), inplace = True)
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [67]:
df['Embarked'].describe()

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

In [68]:
df['Embarked'].fillna('S',inplace=True)

In [69]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [70]:
df.corr()

             PassengerId  Survived    Pclass  ...     SibSp     Parch      Fare
PassengerId     1.000000 -0.005007 -0.035144  ... -0.057527 -0.001652  0.012658
Survived       -0.005007  1.000000 -0.338481  ... -0.035322  0.081629  0.257307
Pclass         -0.035144 -0.338481  1.000000  ...  0.083081  0.018443 -0.549500
Age             0.033207 -0.069809 -0.331339  ... -0.232625 -0.179191  0.091566
SibSp          -0.057527 -0.035322  0.083081  ...  1.000000  0.414838  0.159651
Parch          -0.001652  0.081629  0.018443  ...  0.414838  1.000000  0.216225
Fare            0.012658  0.257307 -0.549500  ...  0.159651  0.216225  1.000000

[7 rows x 7 columns]

In [74]:
df['FamilySize'] = df['SibSp']+df['Parch']
df.corr()

             PassengerId  Survived    Pclass  ...     Parch      Fare  FamilySize
PassengerId     1.000000 -0.005007 -0.035144  ... -0.001652  0.012658   -0.040143
Survived       -0.005007  1.000000 -0.338481  ...  0.081629  0.257307    0.016639
Pclass         -0.035144 -0.338481  1.000000  ...  0.018443 -0.549500    0.065997
Age             0.033207 -0.069809 -0.331339  ... -0.179191  0.091566   -0.248512
SibSp          -0.057527 -0.035322  0.083081  ...  0.414838  0.159651    0.890712
Parch          -0.001652  0.081629  0.018443  ...  1.000000  0.216225    0.783111
Fare            0.012658  0.257307 -0.549500  ...  0.216225  1.000000    0.217138
FamilySize     -0.040143  0.016639  0.065997  ...  0.783111  0.217138    1.000000

[8 rows x 8 columns]

In [76]:
df['Alone'] = [0 if df['FamilySize'][i]>0 else 1 for i in df.index]
df.head()

   PassengerId  Survived  Pclass  ... Embarked FamilySize  Alone
0            1         0       3  ...        S          1      0
1            2         1       1  ...        C          1      0
2            3         1       3  ...        S          0      1
3            4         1       1  ...        S          1      0
4            5         0       3  ...        S          0      1

[5 rows x 13 columns]

In [77]:
df.groupby(['Alone'])['Survived'].mean()

Alone
0    0.505650
1    0.303538
Name: Survived, dtype: float64

In [78]:
df[['Alone','Fare']].corr()

          Alone      Fare
Alone  1.000000 -0.271832
Fare  -0.271832  1.000000

In [80]:
df['Sex'] = [0 if df['Sex'][i]=='male' else 1 for i in df.index] 
df.groupby(['Sex'])['Survived'].mean()

Sex
1    0.383838
Name: Survived, dtype: float64